:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  margin-left: 0;
  margin-top: 1rem;
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background-color: #ffffff;
}

:host:has(app-sidebar .sidebar.visible) .main-content {
  margin-left: 16rem;
}

:host-context(.dark) .main-content {
  background-color: #111827;
  color: #e2e8f0;
}
